/* Cabecera */
.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.cabecera__buscar__item {
    display: none;
}

/* Rodapie */
.rodapie__container {
    display: flex;
    flex-flow: column wrap;
}

/* Sección superior */
.superior__seccion__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 16px;
}

@media (min-width: 834px ) {
    /* Cabecera */
    .cabecera__buscar__item {
        display: block;
    }

    /* Rodapie */
    .rodapie__container {
        justify-content: space-between;
    }
}
